<h1>{{ instrumento.instrumento }}</h1>
<hr>
<div class="row">
    <div class="col-md-6 linea" style="text-align: center">
         <img src="assets/images/{{instrumento.imagen}}"[style.width.%]="50" class="img-fluid" [alt]="instrumento.instrumento"> <br><br> 
         <p>{{instrumento.descripcion}}</p>
         </div>
          <div class="col-md-6"> 
              <h3 >{{instrumento.instrumento}}</h3> 
              <hr> 
              <h3>${{instrumento.precio}}</h3> 
              <p><b>Marca:</b> {{instrumento.marca}}</p>
               <p><b>Modelo:</b> {{instrumento.modelo}}</p>
              
                  <div>
                       <span *ngIf="instrumento.costoEnvio == 'G'; else notInstrumento" style="color:green; font-weight: bold;">
                         Envio gratis a todo el pais </span>
                         </div>
                         <ng-template #notInstrumento>

                          <p style="color: orange">Envio: $ {{instrumento.costoEnvio}}</p>
                      </ng-template>
                    <button class="btn btn-outline-secondary" > Agregar al Carrito</button>
                </div>
</div>