<h1>Productos</h1>
<hr>


<div class="card flex-row flex-wrap" *ngFor="let instrumento of instrumentos; let i = index">
        <div class="card-header border-0" >
            <img src="assets/images/{{instrumento.imagen}}"   (click)="verInstrumento(instrumento.id)"  alt="">
        </div>
        <div class="card-block px-2">
            <h4 class="card-title">{{instrumento.instrumento}}</h4>
            <h3 class="card-tittle">${{instrumento.precio}}</h3>
            <span *ngIf="instrumento.costoEnvio == 'G'; else notInstrumento" style="color:green; font-weight: bold;">
                Envio gratis a todo el pais </span>
            <ng-template #notInstrumento>

                <p style="color: orange;" >Envio: $ {{instrumento.costoEnvio}}</p>
            </ng-template>
            <p class="card-text">{{instrumento.cantidadVendida}} vendidos</p>
          
        </div>
        <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">
            <button type="button" (click)="verInstrumento(instrumento.id)" class="btn btn-outline-warning btn-block" name="button">Ver producto</button>
        </div>
    </div>
